html {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    width: 100%;
    max-width: 900px;
    height: 100vh;
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

textarea,
pre {
    width: 90%;
    height: 30%;
    border: solid;
    overflow: scroll;
    padding: 1%;
}

button {
    width: 120px;
    height: 35px;
}